[run]
# Указываем, какие папки/приложения мы ХОТИМ тестировать (замените на имена ваших приложений)
source =
    materials
    users

# Исключаем файлы и папки из процесса сбора статистики
omit =
    *apps.py
    *manage.py
    *tests.py
    *__init__.py
    config/*
    config/settings.py

    # Кроссплатформенные маски для миграций
    */migrations/*
    *\migrations\*
    *migrations*

    # Декларативные и конфигурационные файлы проекта
    *admin.py
    *urls.py
    *paginators.py

    # Кроссплатформенные маски для кастомных команд (в этом проекте они не отличаются от обычных консольных команд)
    */management/*
    *\management\*
    *management*

[report]
# Пропускать файлы, в которых нет исполняемого кода
skip_empty = True