SECRET_KEY=
DEBUG=
# DataBase PostreSQL
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
# Server Email
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
# Telegram
TELEGRAM_BOT_TOKEN=